@font-face {
	font-family:Titulo;
	src:url(../fontes/ANODETONOONE.TTF);
}

h1 {
	color:#603A03;
	font-family:Titulo;
	font-size:40px;
}

body {
	background-image:url(../imgs/fundo.gif);
}

#container{
	height:auto;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	width:950px;
}


#fundoGame {
	background-image:url(../imgs/background.png);
	border-color:#FFF;
	border-style:solid;
	display: block;
	height:630px;
	overflow: hidden !important;
	width:950px;
}

#jogador {
	background-image:url(../imgs/apache.png);
	height:66px;
	left:8px;
	position:absolute;
	top:179px;
	width:256px;

}

#inimigo1 {
	background-image:url(../imgs/inimigo1.png);
	height: 66px;
	width: 256px;
	left: 689px;
	position: absolute;
	top: 253px;	
}

#inimigo2 {
	background-image: url(../imgs/inimigo2a.png);
	height: 85px;
	left: 775px;
	position: absolute;
	top: 447px;
	width: 165px;
}

#amigo {
	background-image:url(../imgs/amigo2.png);
	height: 51px;
	left: 10px;
	position: absolute;
	top: 464px;
	width: 44px;
}

#inicio {
	background-image:url(../imgs/hell.gif);
	background-size: contain;
	font-family:Titulo;
	height:100%;
	margin-left:auto;
    margin-right:auto;
	text-align:center;
	padding:0px;
	position: relative;
	top:-30px;
	width:100%;
}

.instrucoes{
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	padding:10px;
	width:98%;
}
.anima1 {
	animation:play .5s steps(2) infinite;
	background-image:url(../imgs/helicoptero.png);

       -webkit-animation: play .5s steps(2) infinite;
       -moz-animation: play .5s steps(2) infinite;
       -ms-animation: play .5s steps(2) infinite;
       -o-animation: play .5s steps(2) infinite;
}

@keyframes play {
	from {background-position:0px;}
	to {background-position:-512px;}
}


@-webkit-keyframes play {
	from { background-position:0px; }
	  to { background-position: -512px; }
 }
 
 @-moz-keyframes play {
	from { background-position:0px; }
	  to { background-position: -512px; }
 }
 
 @-ms-keyframes play {
	from { background-position:0px; }
	  to { background-position: -512px; }
 }
 
 @-o-keyframes play {
	from { background-position:0px; }
	  to { background-position: -512px; }
 }

 .anima2 {
    background-image:url(../imgs/inimigo1.png);
    animation: play .5s steps(2) infinite;
    -webkit-animation: play .5s steps(2) infinite;
    -moz-animation: play .5s steps(2) infinite;
    -ms-animation: play .5s steps(2) infinite;
    -o-animation: play .5s steps(2) infinite; 
}

.anima3 {
	animation:play2 .9s steps(12) infinite;
	background-image:url(../imgs/amigo.png);
	-webkit-animation: play2 .9s steps(12) infinite;
       -moz-animation: play2 .9s steps(12) infinite;
        -ms-animation: play2 .9s steps(12) infinite;
         -o-animation: play2 .9s steps(12) infinite;
}

@keyframes play2 {
	from {background-position:0px;}
	to {background-position:-528px;}
}

@-webkit-keyframes play2 {
   from { background-position:    0px; }
     to { background-position: -528px; }
}

@-moz-keyframes play2 {
   from { background-position:    0px; }
     to { background-position: -528px; }
}

@-ms-keyframes play2 {
   from { background-position:    0px; }
     to { background-position: -528px; }
}

@-o-keyframes play2 {
   from { background-position:    0px; }
     to { background-position: -528px; }
}

#disparo {
	background-image: url(../imgs/disparo.png);
	height: 8px;
	position: absolute;
	width: 50px;
}


#explosao1 {
	height:87px;
	position:absolute;
	width:15px;

}

#explosao2 {
	height:87px;
	position:absolute;
	width:15px;	
}

#explosao3 {
	height:51px;
	width:44px;
	position:absolute;
}

.anima4 {
	animation:play3 .5s steps(7) infinite;
	background-image:url(../imgs/amigo_morte.png);
	height:51px;
	width:44px;
	-webkit-animation: play3 .5s steps(7) infinite;
	-moz-animation: play3 .5s steps(7) infinite;
	-ms-animation: play3 .5s steps(7) infinite;
	-o-animation: play3 .5s steps(7) infinite;
}

@keyframes play3 {
	from {background-position:0px;}
	to {background-position:-308px;}
}

@-webkit-keyframes play3 {
   from { background-position:    0px; }
     to { background-position: -308px; }
}

@-moz-keyframes play3 {
   from { background-position:    0px; }
     to { background-position: -308px; }
}

@-ms-keyframes play3 {
   from { background-position:    0px; }
     to { background-position: -308px; }
}

@-o-keyframes play3 {
   from { background-position:    0px; }
     to { background-position: -308px; }
}

#placar {	
	height: 50px;
	left: 5px;
	position: absolute;
	top: 590px;
	width: 450px;
}

h2 {
	color:#453b2a
	font-family:Titulo;
	font-size:20px;
}

#energia {
	height: 38px;
	left: 750px;
	position: absolute;
	top: 7px;	
	width: 140px;
}

h3 {
	color:#603A03;
	font-family:Titulo;
	font-size:20px;

}

#fim {
	background-color:#FFF;
	height:200px;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	padding:10px;
	text-align:center;
	width:350px;

}



